header {
  background-color: $negro;
  width: 100%;
  font-family: $fuente-merriweather;

  a {
    color: $gris;
    text-decoration: none;
  }

  h2 {
    text-align: center;
    font-size: 350%;
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    font-size: 125%;
    display: flex;
    justify-content: space-around;
  }
}
